.container{
    display: flex;
    color: white;
    flex-wrap: wrap;
    
}

div{
    border: 2px red solid;
    background-color: rebeccapurple;
    height: 20px;
    width: 20px;
    padding: 30px;
    
}

